<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Customer" type="com.hand.dto.Customer" />
		<typeAlias alias="Address" type="com.hand.dto.Address" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/sakila?characterEncoding=utf8" />
				<property name="username" value="root" />
				<property name="password" value="tf20122171" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/hand/mapper/customerMapper.xml" />
		<mapper resource="com/hand/mapper/addressMapper.xml" />
	</mappers>
</configuration>